<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
  <link rel="stylesheet" href="./register.component.scss" />
</head>

<body>
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form>
        <div class="row">
          <form
            [formGroup]="frmRegister"
            (ngSubmit)="onSubmitRegister(frmRegister.value)"
          >
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <h1>Kayıt Ol</h1>
              </div>
              <div class="col-sm-12" style="margin-left: 90px">
                <asl-google-signin-button></asl-google-signin-button>
              </div>
            </div>
            <span style="margin-top: 15px"
              >veya E-Mail ile kayıt olabilirsin.</span
            >

            <div class="row" style="margin-top: 70px">
              <div class="col-sm-5" style="margin-right: 50px">
                <div class="form-group">
                  <label for="firstName">Ad</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="Ad giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedRegister && componentRegister.firstName.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.firstName.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.firstName.errors?.minlength
                    "
                    >Lütfen en az 3 karakter girin.</small
                  >
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="lastName">Soyad</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    formControlName="lastName"
                    placeholder="Soyad giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedRegister && componentRegister.lastName.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.lastName.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.lastName.errors?.minlength
                    "
                    >Lütfen en az 3 karakter girin.</small
                  >
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 25px">
              <div class="col-sm-5" style="margin-right: 50px">
                <div class="form-group">
                  <label for="userName">Kullanıcı Adı</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userName"
                    formControlName="userName"
                    placeholder="Kullanıcı adı giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedRegister && componentRegister.userName.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.userName.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    formControlName="email"
                    placeholder="Email giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedRegister && componentRegister.email.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.email.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister && componentRegister.email.errors?.email
                    "
                    >Lütfen düzgün doldurun.</small
                  >
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 25px">
              <div class="col-sm-5" style="margin-right: 50px">
                <div class="form-group">
                  <label for="phoneNumber">Telefon Numarası</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Telefon numarası giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedRegister &&
                        componentRegister.phoneNumber.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.phoneNumber.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="password">Şifre</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    placeholder="Şifre giriniz"
                    [ngClass]="{
                      'is-invalid':
                        (submittedRegister &&
                          componentRegister.password.errors) ||
                        componentRegister.password.value !=
                          componentRegister.passwordConfirm.value
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.password.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      componentRegister.password.value !=
                      componentRegister.passwordConfirm.value
                    "
                    >Şifreleri aynı giriniz.</small
                  >
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 25px">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="passwordConfirm">Şifre Tekrar</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passwordConfirm"
                    formControlName="passwordConfirm"
                    placeholder="Şifreyi tekrar giriniz"
                    [ngClass]="{
                      'is-invalid':
                        (submittedRegister &&
                          componentRegister.passwordConfirm.errors) ||
                        componentRegister.password.value !=
                          componentRegister.passwordConfirm.value
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedRegister &&
                      componentRegister.password.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      componentRegister.password.value !=
                      componentRegister.passwordConfirm.value
                    "
                    >Şifreleri aynı giriniz.</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button
                  mat-flat-button
                  color="primary"
                  style="margin-top: 15px"
                  type="submit"
                >
                  Kayıt Ol
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>

    <div class="form-container sign-in">
      <form>
        <div class="row">
          <form
            [formGroup]="frmLogin"
            (ngSubmit)="onSubmitLogin(frmLogin.value)"
          >
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <h1>Giriş Yap</h1>
              </div>
              <div class="col-sm-12" style="margin-left: 90px">
                <asl-google-signin-button></asl-google-signin-button>
              </div>
            </div>
            <span style="margin-top: 15px"
              >veya e-posta ve şifrenizi kullanın</span
            >

            <div class="row" style="margin-top: 70px">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="userNameOrEmail">Kullanıcı Adı veya E-mail</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userNameOrEmail"
                    formControlName="userNameOrEmail"
                    placeholder="Kullanıcı adı veya Email giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedLogin && componentLogin.userNameOrEmail.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedLogin &&
                      componentLogin.userNameOrEmail.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 15px">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="passwordLogin">Şifre</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passwordLogin"
                    formControlName="passwordLogin"
                    placeholder="Şifre giriniz"
                    [ngClass]="{
                      'is-invalid':
                        submittedLogin && componentLogin.passwordLogin.errors
                    }"
                  />
                  <small
                    class="form-text text-muted invalid-feedBack"
                    *ngIf="
                      submittedLogin &&
                      componentLogin.passwordLogin.errors?.required
                    "
                    >Lütfen doldurun.</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button
                  mat-flat-button
                  color="primary"
                  style="margin-top: 15px"
                  type="submit"
                >
                  Giriş Yap
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button
              mat-flat-button
              color="primary"
              style="margin-top: 5px"
              routerLink="/password-reset"
            >
              Şifremi Unuttum
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Tekrardan Hoşgeldin!</h1>
          <p>
            Tüm site özelliklerini kullanmak için kişisel bilgilerini gir ve
            başla!
          </p>
          <button class="hidden bootstrapButtons" id="login">Giriş Yap</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Merhaba, Avukat!</h1>
          <p>
            Tüm site özelliklerini kullanmak için kişisel bilgilerinle kaydol!
          </p>
          <button class="hidden bootstrapButtons" id="register">
            Kayıt Ol
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
