<p>case works!</p>

<!-- <h1>Case List (olacak ama cardlar şeklinde. Cardların içinde de aşağıdaki buton olacak ve dosya yükleyebilecek)</h1> -->
<button type="button" class="btn btn-danger bx"> Case List</button>
<br>
<br>
<button type="button" class="btn btn-success bx" (click)="fileUpload()"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button>
<button type="button" class="btn btn-success bx" (click)="fileUpload()"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button>
<button type="button" class="btn btn-success bx" (click)="fileUpload()"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button>
<button type="button" class="btn btn-success bx" (click)="fileUpload()"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button>
<br>
<br>
<button type="button" class="btn btn-success bx" (click)="createCaseDialog()" > Dava Oluşturma butonu</button>
<br>
<br>
<button type="button" class="btn btn-danger bx"> İlan Oluşturma butonu(Advert içindeki create yani ilan oluşturma buraya taşınacak.)</button>




