<p>case works!</p>

<!-- <h1>Case List (olacak ama cardlar şeklinde. Cardların içinde de aşağıdaki buton olacak ve dosya yükleyebilecek)</h1> -->
<button type="button" class="btn btn-danger bx"> Case List</button>
<br>
<br>
<!-- <button type="button" class="btn btn-danger bx" (click)="fileUpload(element.id)"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button> -->
<button type="button" class="btn btn-danger bx" (click)="fileUpload(20)"> <i class='bx bxs-cloud-upload'></i> Hert cardda olacak dosya yükleme butonu </button>
<!-- buraya carddaki davanın id sini göndericez aslında -->
<br>
<br>


<button type="button" class="btn btn-success bx" (click)="createCaseDialog()" > Dava Oluşturma butonu</button>
<br>
<br>
<button type="button" class="btn btn-success bx" (click)="createAdvertDialog()" > İlan Oluşturma butonu</button>




