.first-card{
  margin: 10px;
  float: left;
}

.first-card-container {
  background-color: #F0F0F0;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  position: relative;
  width: 1100px;
  height: 800px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-left: 20px;
  overflow: hidden;
}

.advert-create-card{
  margin: 10px;
  float: left;
}

.advert-create-card-container{
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  position: relative;
  width: 350px;
  height: 600px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-left: 20px;
  overflow: hidden;
}


.advert-card-container {
  background-color: #F0F0F0;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  position: relative;
  width: 1100px;
  height: 750px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-left: 20px;
  overflow: hidden;
}



.advert-user-card{
  margin: 10px;
  float: left;
}

.advert-user-card-container{
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  padding-top: 0px;
  position: relative;
  width: 350px;
  height: 600px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-left: 20px;
  overflow: hidden;
}

.advert-info-card{
  margin: 10px;
  float: left;
}

.advert-info-card-container{
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 30px 0 0;
  padding-top: 0px;
  position: relative;
  width: 550px;
  height: 600px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-left: 20px;
  overflow: hidden;
}

.row{
  margin: 30px;
}