<div class="advert-card" style="margin-right: 20px;" *ngFor="let advert of adverts">
  <div class="advert-card-container">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="advert-user-card">
            <div class="advert-user-card-container">
              <div>
                <br /><br />
                <h1 style="color: white; margin: 3px">
                  İlan Sahibinin Bilgileri
                </h1>
              </div>
              <br /><br /><br />
              <div style="color: white; text-align: left; padding: 10px">
                <h2>Avukatın;</h2>
                <h2>Adı: {{ advert.user.firstName }}</h2>
                <h2>Soyadı: {{ advert.user.lastName }}</h2>
                <h2>E-Mail: {{ advert.user.email }}</h2>
                <h2>Telefon: {{ advert.user.phoneNumber }}</h2>
              </div>
              <button
                style="width: 200px; margin-top: 50px"
                mat-flat-button
                color="primary"
              >
                İletişime Geç
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="advert-info-card">
            <div class="advert-info-card-container">
              <div >
                <br /><br />
                <h1 style="color: white; margin: 3px; margin-bottom: 5px">
                  Dava Bilgileri
                </h1>
              </div>

              <div class="container" style="color: white;">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>{{ advert.caseType}}</h2>
                  </div>
                  <div class="col-sm-6">
                    <h1 style="color: white; margin: 3px">
                      {{ advert.price | number : "1.2-2" }} TL
                    </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Dava Tarihi: <br>{{ advert.caseDate | date }}</h2>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      İlan Oluşturma Tarihi: <br>{{ advert.createdDate | date }}
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Şehir: <br>{{ advert.city }}/ {{ advert.district }}</h2>
                  </div>
                  <div class="col-sm-6">
                    <h2>Dava Yeri: <br>{{ advert.casePlace }}</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h2>Adres: {{ advert.address }}</h2>
                  </div>
                </div>
                <div class="row" *ngIf="advert.description">
                  <div class="col-sm-12">
                    <h2>Açıklama: {{ advert.description }}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  (page)="pageChanged()"
  [pageSizeOptions]="[60, 30, 15]"
  showFirstLastButtons
  aria-label="Sayfa seçin"
>
</mat-paginator>
