.pdf-card {
    width: 175px;
    height: 175px;
    margin: 10px;
    border-radius: 10px; 
    float: left;
    text-align: center;
    background-color: #1f1a36;
    color: white;
  }
    

  .pdf-container {
    width: 99%;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
  }
  