.pdf-card {
    width: 175px;
    height: 150px;
    margin: 10px;
    border-radius: 10px; 
    float: left;
    text-align: center;
  }
    

  .pdf-container {
    width: 99%;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
  }
  