<app-register></app-register>
<!-- <app-sidebar></app-sidebar> -->

<!-- <ngx-spinner name="squareJellyBox" size="default" type="square-jelly-box"></ngx-spinner> -->
<ngx-spinner name="squareJellyBox" size="default" type="square-jelly-box"><p style="color: white; text-align: center;" > Yükleniyor...</p></ngx-spinner>
<ngx-spinner name="squareJellyBoxWithText" size="default" type="square-jelly-box"><p style="color: white; text-align: center;" > Yükleniyor...</p><p style="color: white; text-align: center;" > Bu Biraz Zaman alabilir...</p></ngx-spinner>