<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form [formGroup]="passwordForm">
    <div class="form-group">
      <label for="inputEmail" style="font-size: large;">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email Giriniz"
        formControlName="email"
        style="width: 300px; padding: 10px;"
      />
    </div>
    <button type="button" style="margin-top: 10px;" class="btn btn-primary" (click)="passwordReset()" [disabled]="!passwordForm.valid" >Gönder</button>
  </form>
</div>
