:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 1000px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.case-create {
  width: 45%;
  margin: 5px;
}

.caseDescription{
  width: 100%;
}

.btnCreateCase{
  height: 56px;
}
